
@charset "UTF-8";

body {
    font-family: cursive;;
    background-color: #5F9EA0;
}

.container {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}

.dados {
    width: 70%;
}

.foto {
    width: 40%;
    text-align: right;
}

.foto img {
weigth: 150px;
    border-radius: 10px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}
